[Desktop Entry]
Version=1.0
Type=Application

Name=Batch Image Editor
Comment=An app that generates images based on texts from source files
Categories=Photo and Video;

Icon=com.zlimits.batch_image_editor
Exec=batch_image_editor
Terminal=false
StartupWMClass=batch_image_editor