[Desktop Entry]
Name=Batch Image Editor
Comment=Batch Image Editor App  that edits images in batches
Exec=batch_image_editor
Icon=${SNAP}/meta/gui/batch-image-editor.png
Terminal=false
Type=Application
Categories=Photo and Video; #adjust accordingly your snap category
